
@{
    ViewData["Title"] = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Looking for Musicians?</h1>
<a style="font-size: 30px" href="/Identity/Account/Register">Create an Account!</a>

