@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Build-A-Band</h1>
    <h1>Looking for a band?</h1>
    <h1>Looking for new members to join you?</h1>
    <h1>Looking for local shows?</h1>
    <h1>Create an Account!</h1>
</div>
